<div class="container">
  <div class="card my-4 border-2 border-info shadow-lg rounded">
    <div class="card-header bg-primary">
      <p class="card-text text-light fw-bold">No. curso: {{ courses.id }}</p>
      <h2 class="card-text text-light fw-bold">Curso: {{ courses.name }}</h2>
    </div>
    <div class="p-2 bg-dark">
      <table class="table table-striped table-dark">
        <thead>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
        </thead>
        <tbody>
          @for (item of courses.student; track $index) {
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.surname }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
