<div class="container">
  <div class="card my-4 border-2 border-info shadow-lg rounded">
    <div class="card-header bg-primary">
      <app-header-course [courses]="courses"></app-header-course>
    </div>
    <div class="p-2 bg-dark">
      <table class="table table-striped table-dark">
        <thead>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
        </thead>
        <tbody>
          @for (item of courses.student; track $index) {
            <tr student-item [item]="item"></tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
